<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<style>
    body {
        margin: 0;
        padding: 0;
    }

    footer {
        display: flex;
        justify-content: center;
        background-color: red;
    }

    footer p a {
        text-decoration: none;
        color: black;
    }

    footer p a:hover {
        text-decoration: underline;
        text-underline-offset: 0.2em;
        color: black;

    }
</style>
<body>
    <footer>
        <p>ЗА РЕЗЕРВАЦИИ: <a href="#">+359878194841</a></p>
    </footer>
</body>
</html>